.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevents scrolling */
}

.sidebar {
  position: fixed;
  top: 40px; /* Adjusted for reduced navbar height */
  left: 0;
  width: 200px; /* Sidebar width */
  height: calc(100vh - 40px); /* Adjust height after navbar */
  background: #dff1ff;
  padding-top: 20px;
}

.dashboard-content {
  position: fixed;
  top: 40px; /* Starts immediately after navbar */
  left: 200px; /* Starts immediately after sidebar */
  width: calc(100vw - 200px); /* Full width minus sidebar */
  height: calc(100vh - 40px); /* Full height minus navbar */
  background: white;
  overflow: hidden; /* Prevent scrolling */
  box-sizing: border-box;
  padding: 15px;
}

.dashboard-card {
  width: 100%; /* Takes full width of dashboard-content */
  height: 100%; /* Takes full height */
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 5px;
}
